<mtapp:setting id="username" label="username:" hint="flickrへのログイン時に利用しているID" show_hint="show_hint" required="required">
    <input type="text" name="username" id="username" value="<mt:var name="username" escape="html">" />
</mtapp:setting>
<mtapp:setting id="api_key" label="api_key:" required="required">
    <input type="text" name="api_key" id="api_key" value="<mt:var name="api_key" escape="html">" />
</mtapp:setting>
<mtapp:setting id="secret" label="secret:" required="required">
    <input type="text" name="secret" id="secret" value="<mt:var name="secret" escape="html">" />
</mtapp:setting>
